T1  RCDATA  ..\Data\Trio\T1.mid
T2  RCDATA  ..\Data\Trio\T2.mid
T3  RCDATA  ..\Data\Trio\T3.mid
T4  RCDATA  ..\Data\Trio\T4.mid
T5  RCDATA  ..\Data\Trio\T5.mid
T6  RCDATA  ..\Data\Trio\T6.mid
T7  RCDATA  ..\Data\Trio\T7.mid
T8  RCDATA  ..\Data\Trio\T8.mid
T9  RCDATA  ..\Data\Trio\T9.mid
T10 RCDATA  ..\Data\Trio\T10.mid
T11 RCDATA  ..\Data\Trio\T11.mid
T12 RCDATA  ..\Data\Trio\T12.mid
T13 RCDATA  ..\Data\Trio\T13.mid
T14 RCDATA  ..\Data\Trio\T14.mid
T15 RCDATA  ..\Data\Trio\T15.mid
T16 RCDATA  ..\Data\Trio\T16.mid
T17 RCDATA  ..\Data\Trio\T17.mid
T18 RCDATA  ..\Data\Trio\T18.mid
T19 RCDATA  ..\Data\Trio\T19.mid
T20 RCDATA  ..\Data\Trio\T20.mid
T21 RCDATA  ..\Data\Trio\T21.mid
T22 RCDATA  ..\Data\Trio\T22.mid
T23 RCDATA  ..\Data\Trio\T23.mid
T24 RCDATA  ..\Data\Trio\T24.mid
T25 RCDATA  ..\Data\Trio\T25.mid
T26 RCDATA  ..\Data\Trio\T26.mid
T27 RCDATA  ..\Data\Trio\T27.mid
T28 RCDATA  ..\Data\Trio\T28.mid
T29 RCDATA  ..\Data\Trio\T29.mid
T30 RCDATA  ..\Data\Trio\T30.mid
T31 RCDATA  ..\Data\Trio\T31.mid
T32 RCDATA  ..\Data\Trio\T32.mid
T33 RCDATA  ..\Data\Trio\T33.mid
T34 RCDATA  ..\Data\Trio\T34.mid
T35 RCDATA  ..\Data\Trio\T35.mid
T36 RCDATA  ..\Data\Trio\T36.mid
T37 RCDATA  ..\Data\Trio\T37.mid
T38 RCDATA  ..\Data\Trio\T38.mid
T39 RCDATA  ..\Data\Trio\T39.mid
T40 RCDATA  ..\Data\Trio\T40.mid
T41 RCDATA  ..\Data\Trio\T41.mid
T42 RCDATA  ..\Data\Trio\T42.mid
T43 RCDATA  ..\Data\Trio\T43.mid
T44 RCDATA  ..\Data\Trio\T44.mid
T45 RCDATA  ..\Data\Trio\T45.mid
T46 RCDATA  ..\Data\Trio\T46.mid
T47 RCDATA  ..\Data\Trio\T47.mid
T48 RCDATA  ..\Data\Trio\T48.mid
T49 RCDATA  ..\Data\Trio\T49.mid
T50 RCDATA  ..\Data\Trio\T50.mid
T51 RCDATA  ..\Data\Trio\T51.mid
T52 RCDATA  ..\Data\Trio\T52.mid
T53 RCDATA  ..\Data\Trio\T53.mid
T54 RCDATA  ..\Data\Trio\T54.mid
T55 RCDATA  ..\Data\Trio\T55.mid
T56 RCDATA  ..\Data\Trio\T56.mid
T57 RCDATA  ..\Data\Trio\T57.mid
T58 RCDATA  ..\Data\Trio\T58.mid
T59 RCDATA  ..\Data\Trio\T59.mid
T60 RCDATA  ..\Data\Trio\T60.mid
T61 RCDATA  ..\Data\Trio\T61.mid
T62 RCDATA  ..\Data\Trio\T62.mid
T63 RCDATA  ..\Data\Trio\T63.mid
T64 RCDATA  ..\Data\Trio\T64.mid
T65 RCDATA  ..\Data\Trio\T65.mid
T66 RCDATA  ..\Data\Trio\T66.mid
T67 RCDATA  ..\Data\Trio\T67.mid
T68 RCDATA  ..\Data\Trio\T68.mid
T69 RCDATA  ..\Data\Trio\T69.mid
T70 RCDATA  ..\Data\Trio\T70.mid
T71 RCDATA  ..\Data\Trio\T71.mid
T72 RCDATA  ..\Data\Trio\T72.mid
T73 RCDATA  ..\Data\Trio\T73.mid
T74 RCDATA  ..\Data\Trio\T74.mid
T75 RCDATA  ..\Data\Trio\T75.mid
T76 RCDATA  ..\Data\Trio\T76.mid
T77 RCDATA  ..\Data\Trio\T77.mid
T78 RCDATA  ..\Data\Trio\T78.mid
T79 RCDATA  ..\Data\Trio\T79.mid
T80 RCDATA  ..\Data\Trio\T80.mid
T81 RCDATA  ..\Data\Trio\T81.mid
T82 RCDATA  ..\Data\Trio\T82.mid
T83 RCDATA  ..\Data\Trio\T83.mid
T84 RCDATA  ..\Data\Trio\T84.mid
T85 RCDATA  ..\Data\Trio\T85.mid
T86 RCDATA  ..\Data\Trio\T86.mid
T87 RCDATA  ..\Data\Trio\T87.mid
T88 RCDATA  ..\Data\Trio\T88.mid
T89 RCDATA  ..\Data\Trio\T89.mid
T90 RCDATA  ..\Data\Trio\T90.mid
T91 RCDATA  ..\Data\Trio\T91.mid
T92 RCDATA  ..\Data\Trio\T92.mid
T93 RCDATA  ..\Data\Trio\T93.mid
T94 RCDATA  ..\Data\Trio\T94.mid
T95 RCDATA  ..\Data\Trio\T95.mid
T96 RCDATA  ..\Data\Trio\T96.mid
